/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    background-color: #005A4E;
    color:#0C0C0F;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
}

.navbar-index{
    margin: 0;
    padding: 0;
    
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #390E8C;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav{
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #FCECAD;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FCECAD;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: #020100fd 0 0 20px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FCECAD;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    color: #005A4E;
    text-align: center;
    border-bottom: 1px solid lightslategray;
}

.table tbody tr:hover {
    background-color: #fdf4d1d3;
}

td img.product-image {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #596b64;
    color: #B7E1D1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #303a36;
    color: #72b69d;
}

.btn-eliminar {
    padding: 8px;
    margin:4px;
    background-color: rgba(202, 14, 14, 0.658);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}
.btn-eliminar:hover {
    background-color: rgb(216, 1, 1);
    color: #ffffff;

}

a {
    padding: 8px;
    margin:4px;
    background-color: #B7E1D1;
    color: #596B64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;

}

a:hover {
    background-color: #72b69d;
    color:#303a36;
    box-shadow: #00312b 0 0 10px
}

select {
    width: 100%;
}
.contenedor-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tarjeta {
    margin: 0 auto;
}

.detalle-producto {
    display: flex;
    background-color: #FCECAD;
    padding: 20px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: #020100fd 0 0 20px;
    align-items: center;
}

.detalle-producto img {
    filter: drop-shadow(10px 5px 20px rgb(76, 104, 80));
}

.tarjeta p {
    background-color: transparent;
}